accelerate==1.2.1
bert-score==0.3.13
bitsandbytes==0.45.0
datasets
editdistance
evaluate
matplotlib
nltk
numpy
openai
pandas
peft
rouge-score
sacrebleu
scikit-learn
torch==2.5.1
transformers==4.47.1
trl
vllm==0.6.6.post1
